* {
  outline: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
body {
  background: #ffffff;
  box-shadow: 0 0 10px rgba(2,0,0,2);
  width: 1400px;
  margin: 30px auto;
}
h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 60px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #157698;
  padding-top: 30px;
  text-align: center;
}
header {
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  
}
.bacground-foto {
  width: 400px;
  height: 400px;
  background-color: #4C4E50;
  display: flex;
  Justify-content: flex-end;
  align-items: flex-end;
}

.container-foto {
  width: 330px;
  height: 330px;
  background-color:#157698;
  display: flex; 
  Justify-content: flex-end;
  align-items: flex-end;
}
.foto {
  width: 80%;
  height: 80%;
}

/* Navigation */

nav {
  background-color: #f0ffff;
  width: 1000px;
  height: 400px;
}
.container-name { 
  padding: 60px 0 0 130px;
}
.name {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  letter-spacing: 0.005em;
  color: #A9A9A9;
}
.first-name {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.005em;
  color: #157698;;
}
.dev {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0.005em;
  color: #157698;
  padding-left: 2px;
}
.contacts ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin-left: 13%;
}
.contacts ul li{
  width: 350px;
  padding-top: 40px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.03em;
  color: #333333;
  text-decoration: none;
}
.contacts ul li a:visited {
  color: #333333;
}
.contacts ul li a img {
  padding-right: 20px;
}
.text {
  position: absolute;
  padding-top: 10px;
  color: #333333;
}
/* horizont block */
.bacground-fon {
  background-color: #f0ffff;
}
.horizont {
  height: 70px;
  width: 95%;
  background-color: #157698;
  margin-left: 70px;
}

/* Info blocks */

main {
  display: flex;
}
/* block left */
.block-left {
  width: 330px;
  height: 870px;
  background-color: #f0ffff;
  padding-left: 70px;
}
.education section b { 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #333333;
  padding-left: 20px;
}
.education section p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0.03em;
  color: #666666;
}
.language p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0.03em;
  color: #666666;
}
.code pre {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.03em;
  color: #666666;
}

/*Block right*/

.block-right {
  width: 1000px;
  height: 870px;
  background-color: #E1E3E5;
}
.correct-block {
  padding: 0 70px;
  height: 620px;
}
.about-size {
  padding-bottom: 30px;
}
.about-me {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0.03em;
  color: #666666;
  text-indent: 40px;
}
.block-skills {
  padding-bottom: 60px;
}
.about-sizetwo {
  padding-bottom: 10px;
}
.skills {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.skills li {
  width: 330px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0.03em;
  color: #666666;
  padding-top: 30px;
  padding-left: 50px;
}
.skills li progress {
  width: 200px;
  height: 30px;
  background-color: #157698;
  border: 1px solid #157698;
  border-radius: 5px;  
  float: right;
}
.fix{
  position: absolute;
  margin-left: 30px;
}
.fixed{
  position: absolute;
  margin-left: 43px;
}
progress::-webkit-progress-value {
  background: #157698;
}

/* Hobbies */

.hobbie-block {
  background-color: #4C4E50;
  height: 250px;
}
.hobbie-block h2 {
  color: #FFFFFF
}
.hobbies {
  width: 700px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.hobbies section p {
  padding-top: 15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 4.5%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
#footer {
  padding: 0 40px;
  height: 100px;
  background-color: #E1E3E5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}